<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <title>mini-program</title>
</head>
<body>
    <form method="post" class="content">
        选择下线需求: <select name="selectedDemand">
                    <% demandList.forEach(function(item){%>
                        <option value="<%=item.gitNum %>"><%=item.demandName %></option>
                    <% }) %>
                 </select> 
                 <br>
        <button type="submit">删除需求信息及分支</button>
    </form>
</body>
</html>