<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <title>mini-program</title>
</head>
<body>
    <form method="post">
        输入需求名称: <input type="text" name="demandName" required><br>
        输入需求待创建分支号: <input type="text" name="demandGitNum" required><br>
        <input name="haveBaidu" type="checkbox" value="baidu" onclick='showBaiDuCreate(this)'/>需求同步至百度<br>
        <block id="bdNum" style="display: none;">
            回填icode创建的百度分支号： <input id="bdNumInput" type="text" name="bdGitNum"><br>
        </block>
        <button type="submit">确定</button>
    </form>
</body>
<script type="text/javascript" src="script/home.js"></script>
</html>