<!DOCTYPE html>
　　 <html>
　　 <head>
　　　　 <title></title>
        <link rel="stylesheet" type="text/css" href="style/navLayout.css"/>
　　</head>
　　 <body>
        <div class="container">
            <ul class="nav-ul">
                <li class="on">
                    <a href='/home' onclick="jump('home')">新建需求</a>
                </li>
                <li>
                    <a href='/packagebuild'>打包项目</a>
                </li>
                <li>
                    <a href='/demandmanage'>需求管理</a>
                </li>
            </ul>
        　　<%-body%>
       </div>
　　 </body>
　　 </html>