<!DOCTYPE html>
<html lang="en">
<link>
    <meta charset="UTF-8">
    <title>mini-program</title>
</head>
<body>
    <form method="post">
        打包类型:  <input type="radio" name="buildType" value="forTest" checked>测试
                  <input type="radio" name="buildType" value="forOnline">上线 
                  <br>
        选择需求: <select name="selectedDemand">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                 </select> 
                 <br>
        选择平台: <input name="platform" value="wxPlugin" type="radio" onclick='showSecondPlatform(this, "wxPlugin")'/>微信插件
                 <input name="platform" value="baidu" type="radio" onclick='showSecondPlatform(this, "baidu")'/>安居客百度
                 <input name="platform" value="fangchan" type="radio" onclick='showSecondPlatform(this, "fangchan")'/>58房产
                 <input name="platform" value="alipay" type="radio" onclick='showSecondPlatform(this, "alipay")'/>安居客支付宝 <br>
                 
                 <block id="ajk58" style="display: none;">
                    <input name="secondPlatform" value="wb" type="radio"/>58
                    <input name="secondPlatform" value="ajk" type="radio"/>ajk
                 </block>
                
                 <block id="zfBussiness">
                    <input name="secondPlatform" value="zufang" type="radio"/>租房
                    <input name="secondPlatform" value="bussiness" type="radio"/>商业地产
                 </block>
                 <br>
                
        <button type="submit">确定</button>
    </form>
</body>
<script>
    function showSecondPlatform(that, platform){
        switch(platform){
            case 'wxPlugin':  document.getElementById("ajk58").style.display = '';
                              document.getElementById("zfBussiness").style.display = 'none';
                              break;
            case 'baidu':     document.getElementById("ajk58").style.display = 'none';
                              document.getElementById("zfBussiness").style.display = 'none';
                              break;
            case 'fangchan':  document.getElementById("ajk58").style.display = 'none';
                              document.getElementById("zfBussiness").style.display = '';
                              break;
            case 'alipay':  document.getElementById("ajk58").style.display = 'none';
                              document.getElementById("zfBussiness").style.display = '';
                              break;
        }
    }
</script>
</html>